In [7]:
set1 = {0, 1, 1, 2, 3, 4, 4}
print(set1)
set2 = {'user1', 12, 2}
print(set2)
set3 = set(range(7))
print(set3)
set4 = set([0, 1, 2, 3, 4, 0, 1])
print(set4)

{0, 1, 2, 3, 4}
{'user1', 2, 12}
{0, 1, 2, 3, 4, 5, 6}
{0, 1, 2, 3, 4}

In [8]:
#Observa la diferencia entre listas y conjuntos
s = 'aabbc'
print(list(s))
print(set(s))

['a', 'a', 'b', 'b', 'c']
{'a', 'c', 'b'}

In [15]:
set1 = {0, 1, 1, 2, 3, 4, 5, 8, 13, 21, 56,100}
set2 = set([0, 1, 2, 3, 4, 5, 13, 42, 70])
# union
print(set1 | set2)
# intersección
print(set1 & set2)
# diferencia
print(set1 - set2)
print(set2 - set1)

{0, 1, 2, 3, 4, 5, 70, 8, 13, 21, 100, 42, 56}
{0, 1, 2, 3, 4, 5, 13}
{8, 56, 100, 21}
{42, 70}

In [16]:
a = [1,2]
b = [2,3]
print(set(a) & set(b))

{2}

In [22]:
#Además de los operadores, que operan únicamente con Sets, también se pueden␣usar métodos que pueden operar sobre cualquier objeto iterable.
conjunto = {0, 1, 2, 4}
lista = [1, 3, 3]
print(conjunto.union(lista))
print(conjunto.intersection(lista))
print(conjunto.difference(lista))


set1 = {0, 1, 1, 2, 3, 4, 5, 8, 13, 21}
set2 = set([0, 1, 2, 3, 4])
print(set2.issubset(set1))
print(set1.issuperset(set2))
print(set1.isdisjoint(set2))

{0, 1, 2, 3, 4}
{1}
{0, 2, 4}
True
True
False

In [39]:
words = {'calm', 'balm'}
print('calm' in words or "balm" in words)
print("calm" in words and "b" in words)
print('calm' in words)

True
False
True

In [40]:
# Los conjuntos no soportan anidamiento, pero como permite elementos␣inmutables, se pueden "anidar" tuplas.
nested_set = {1, (1, 1, 1), 2, 3, (1,1,1)}
print(nested_set)

{1, 2, 3, (1, 1, 1)}

In [42]:
# A través de operador de asignación
set1 = {'a', 'b', 'c'}
set2 = {'a', 'd'}
set1 |= set2
set1 = set1 | set2
set1 &= set2
set1 -= set2
print(set1)

set()

In [43]:
# A través de métodos 'add' y 'remove'.
set1 = {'a', 'b', 'c'}
set1.add('d')
set1.remove('a')
print(set1)

{'c', 'd', 'b'}

In [45]:
tuple1 = ('Foo', 34, 5.0, 34)
print(tuple1)
tuple2 = 1, 2, 3
print(tuple2)
tuple3 = tuple(range(10))
print(tuple3)
tuple4 = tuple([0, 1, 2, 3, 4])
print(tuple4)

('Foo', 34, 5.0, 34)
(1, 2, 3)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(0, 1, 2, 3, 4)

In [46]:
# Ojo con las tuplas de un elemento. Los paréntesis se intepretan como␣indicadores de precedencia de operadores.
singleton_number = (1)
type(singleton_number)

# Creación de tupla de un elemento.
singleton_tuple = (1,)
print(type(singleton_tuple))
print(singleton_tuple)

<class 'tuple'>
(1,)

In [47]:
print(len(tuple1))

4

In [50]:
tuple1 = ('Foo', 1, 2, 3, 4, 5)
print(tuple1[0]) # Primer elemento
print(tuple1[len(tuple1)-1]) # Último elemento
print(tuple1[-1]) # Índices negativos comienzan desde el final
print(tuple1[-len(tuple1)]) # primer elemento

Foo
5
5
Foo

In [52]:
print(id(tuple1))
lista = list(tuple1)
lista[0] = 'bar'
tuple1 = tuple(lista)
print(id(tuple1))
print(tuple1)

2080245293856
2080245292128
('bar', 1, 2, 3, 4, 5)

In [53]:
tuple1 = ('Foo',34, 5.0, 34)
print(tuple1.count(34))

2

In [54]:
tuple1 = ('Foo', 34, 5.0, 34)
indice = tuple1.index(34)
print(indice)
print(tuple1[indice])

1
34